<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Меню </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list-header>После нажатия кнопки и вставки текста будет изменение:</ion-list-header> 
  <ion-list [inset]="true">
    <ion-item>
      <ion-input [(ngModel)]="val1" label="Вставьте текст1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="val2"  label="Вставьте текст2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="btnClick()" shape ="round">Тык</ion-button>
      <ion-button (click)="btnClick2()" shape ="round">Перенести из второго в первый</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>{{val}}</ion-label>
    </ion-item>
  </ion-list>  
</ion-content>

